html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #cc0000;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 1px 1px black;
}

main {
  max-width: 600px;
}

a, a:visited {
  color: lightgray;
}

u {
  color: lightgray;
}

.popup {
  background: lightgray;
  padding: 15px;
  border-radius: 5px;
  width: 240px;
  text-shadow: none;
  color: black;
  font-size: 0.9rem;
}
