html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #333;
  color: crimson;
  text-align: center;
  font-size: 1.2rem;
  text-shadow: 1px 1px black;
}

main {
  max-width: 600px;
}

a, a:visited {
  color: #ad5b01;
}
